/* TOC General CSS*/
.dtoc-box-container{                    
    display: table;       
    width: fit-content;     
    max-width: 100%;            
    overflow: hidden;
}

#dtoc-toggle-check{
    display: none;
}
.dtoc-toggle-label{
    display: flex;    
    justify-content: space-between;        
    font-weight: 600;
    font-size: 100%;   
    padding: 10px;     
}
.dtoc-title-str{
    padding-right: 10px;
}
span.dtoc_icon_toggle svg {
    vertical-align: middle; /* or 'top' or 'bottom' */
}
.dtoc_icon_toggle img{
    width: 30px;
}
.dtoc_icon_toggle{
    font-weight: 400;
    font-size: 90%;
}
.dtoc-box-container ul {
    margin: auto;
    padding-left: 0;
}

.dtoc-box-container ul ul {
    margin: revert;
    padding-left: revert;
}


.dtoc-box-container ul li{
    font-size: 95%;
    margin-bottom: 0;
}
.dtoc-box-container a{
    color: #444; 
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
    display: inline-flex;    
    flex-wrap: nowrap;
}
.dtoc-box-body{
  padding: 10px;
}

/* Sticky css starts here */

/* Base sticky box */
.dtoc-sticky-box-container {
	position: fixed;
	max-height: 80vh;
	overflow-y: auto;
	width: 250px;
	background: #fff;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	z-index: 9999;
}

/* Left positions */
.dtoc-sticky-left-top     { top: 20px; left: 20px; }
.dtoc-sticky-left-middle  { top: 50%; left: 20px; transform: translateY(-50%); }
.dtoc-sticky-left-bottom  { bottom: 20px; left: 20px; }

/* Right positions */
.dtoc-sticky-right-top    { top: 20px; right: 20px; }
.dtoc-sticky-right-middle { top: 50%; right: 20px; transform: translateY(-50%); }
.dtoc-sticky-right-bottom { bottom: 20px; right: 20px; }


/* Sticky css ends here */
