/* TOC General CSS*/
.dtoc-box-container{                    
    display: table;       
    width: fit-content;     
    max-width: 100%;            
    overflow: hidden;
}

#dtoc-toggle-check{
    display: none;
}
.dtoc-toggle-label{
    display: flex;    
    justify-content: space-between;        
    font-weight: 600;
    font-size: 100%;   
    padding: 10px;     
}
.dtoc-title-str{
    padding-right: 10px;
}
span.dtoc_icon_toggle svg {
    vertical-align: middle; /* or 'top' or 'bottom' */
}
.dtoc_icon_toggle img{
    width: 30px;
}
.dtoc_icon_toggle{
    font-weight: 400;
    font-size: 90%;
}
.dtoc-box-container ul{
    margin: auto;
    padding: 0;
}
.dtoc-box-container ul li{
    font-size: 95%;
    margin-bottom: 0;
}
.dtoc-box-container a{
    color: #444; 
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
    display: inline-flex;    
    flex-wrap: nowrap;
}
.dtoc-box-body{
  padding: 10px;
}
